<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>
    <h2>User Table</h2>
    <% if(dismissals.length){%>
    <table class="table">
        <thead>
        <tr>
            <th scope="ID">ID</th>
            <th scope="col">Ім'я</th>
            <th scope="col">Прізвище</th>
            <th scope="col">Група</th>
            <th scope="col">Кількість звільнень</th>
        </tr>
        </thead>
        <tbody>
        <% dismissals.forEach( dismissal => { %>
        <tr>
            <th scope="row"><%= dismissal.id %></th>
            <td><%= dismissal.firstName%></td>
            <td><%= dismissal.secondName%></td>
            <td><%= dismissal.group%></td>
            <td><%= dismissal.dismissal%></td>
            <td>
                <form action="/about:id" name="id"  method="POST">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </form>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
        <% } else {%>
            <h2 style="color: crimson;" >Користувачів немає</h2>
    <% } %>

<footer>
    <%- include('../partials/footer'); %>
</footer>
