<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>
    <h2>User Table</h2>
    <% if(dismissals.length){%>
    <table class="table">
        <thead>
        <tr>
            <th scope="row">ID</th>
            <th scope="col">Ім'я</th>
            <th scope="col">Прізвище</th>
            <th scope="col">Група</th>
            <th scope="col">Кількість звільнень</th>
        </tr>
        </thead>
        <tbody>
        <% dismissals.forEach( dismissal => { %>
        <tr>
            <th><%= dismissal.id %></th>
            <td><%= dismissal.firstName%></td>
            <td><%= dismissal.secondName%></td>
            <td><%= dismissal.group%></td>
            <td><%= dismissal.dismissal%></td>
            <td>
                <form action="/about" method="POST" >
                    <button name="id" class="btn btn-primary" value="<%= dismissal.id%>" type="submit">
                        <i class="bi bi-trash3-fill" data-id="<%= dismissal.id%>"></i>
                    </button>
                </form>
            </td>
        </tr>
        <% }) %>
        </tbody>
    </table>
        <% } else {%>
            <h2 style="color: crimson;" >Користувачів немає</h2>
    <% } %>
<script>
    document.addEventListener('click',(e)=>{
        const id = e.target?.dataset?.id || null;
        if (id){
            fetch(`/about/${id}`,{
                method: 'DELETE',
            });
        }
    });
</script>

<footer>
    <%- include('../partials/footer'); %>
</footer>
