<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>
    <% if(dismissals.length){%>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Ім'я</th>
            <th scope="col">Прізвище</th>
            <th scope="col">Група</th>
            <th scope="col">Кількість звільнень</th>
        </tr>
        </thead>
        <tbody>
        <% dismissals.forEach( dismissal => { %>
        <tr>
            <td><%= dismissal.firstName%></td>
            <td><%= dismissal.secondName%></td>
            <td><%= dismissal.group%></td>
            <td><%= dismissal.dismissal%></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
        <% } else {%>
            <h2 style="color: crimson;" >No weapons!</h2>
    <% } %>

<footer>
    <%- include('../partials/footer'); %>
</footer>
